h4{
    margin-left: 2rem;
}

.browse_box {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.browse_box aside {
    padding-top: 4rem;
    padding-left: 5rem;
    margin-right: 2rem;
    margin-left: 10rem;
}

aside .search_bar {
    padding: 10px 0;
}

aside .search_bar {
    padding: 10px 0;
}

aside .search_bar form {
    position: relative;
    margin: 0 auto;
}

aside .search_bar input, aside .search_bar input.button {
    border: none;
    outline: none;
}

aside .search_bar input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

aside .search_bar .button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

aside .search_bar input {
    border: 2px solid #8a2be2;
    border-radius: 5px;
    background: white;
    top: 0;
    right: 0;
    width: 284px;
    font-size: 1.4rem;
}

aside .search_bar .button {
    background: #6439af;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0;
    right: 0;
    height: 48px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

aside .search_bar .button:before {
    color: #F9F0DA;
}

aside nav ul {
    border: #d1d5da 1px solid;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

aside nav li {
    padding-left: 2rem;
    line-height: 3.5rem;
    border-bottom: #d1d5da 1px solid;
    background-color: white;
}

aside nav li:first-of-type {
    background: #d9d9d9;
}

aside nav li:last-of-type {
    border: none;
}

aside nav li:hover {
    cursor: pointer;
}

aside nav li:first-of-type:hover {
    cursor: auto;
}

aside nav li:hover a {
    color: red;
    font-weight: bold;
}

aside nav li a {
    width: 280px;
    height: 35px;
    text-decoration: none;
    color: #0186ba;
    display: block;
}

.browse_box main {
    width: 60%;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 13rem;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 1200px )and (min-width: 500px){

    div.search_bar{
        margin-left: 1rem;
        width: 310px;
    }
    aside nav ul {
        width: 20rem;
    }

    aside nav {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .browse_box aside {
        margin-left: 2rem;
        padding-left: 0;
    }

    aside.search_nav {
        width: 80%;
        margin-left: 2rem;
    }

    .search_nav .search_list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }

    .browse_box main {
        width: 80%;
        margin-right: 2rem;
    }
}

@media (max-width: 500px) {
    .browse_box main {
        width: 100%;
        margin-right: 2rem;
    }

    .browse_box div.img-box {
        width: 120px;
        height: 120px;
    }

    .browse_box .img-box img {
        width: 120px;
        height: 120px;
    }

    .search_nav nav {
        display: none;
    }

    .search_bar {
        margin-left: -120px;
    }
}

@media (max-width: 350px) {
    .browse_box div.img-box {
        width: 100px;
        height: 105px;
    }

    .browse_box .img-box img {
        width: 100px;
        height: 100px;
    }
}


.browse_box main p {
    letter-spacing: 0.5rem;
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    color: black;
    font-weight: bold;
}

.browse_box main select {
    margin-right: 2rem;
    background: #f3f5f8;
    height: 28px;
    width: 120px;
}

.browse_box main .selects {
    padding-left: 3rem;
}

.browse_box main input{
    background-color: #6439af;
    border: none;
    color: white;
    margin-left: 1rem;
    padding: 0;
    width: 10rem;
    height: 28px;
    border-radius: 5px;
    overflow: hidden;
}

.browse_box main input:hover{
    cursor: pointer;
    background-color: #502E8C;
}

.browse_box main ul {
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: row wrap;
    min-height: 500px;
    background-color: #f3f5f8;
}

.browse_box main ul li {
    margin: 1rem 2rem 1rem 0;
}

.browse_box .img-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.browse_box .img-box img {
    background-color: gray;
    object-fit: cover;
    transition: all .4s cubic-bezier(.645, .045, .355, 1);
}

.browse_box .img-box:hover img {
    transform: scale(1.1);
}